.header{
    font-size: 90px;
    color: brown;
    margin: auto;
  width: 80%;
  border: 3px solid green;
  padding: 10px;

}

html { 
    background-color: lightskyblue; 
} 

#nav-font{
    color: rgb(235, 87, 19);
    font-size: larger;
}

#back-image{
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat:no-repeat;
    width: 100%;
    height: 40%;
    opacity: 0.6;
    padding: 90px;

}

.text-uppercase-career{
    text-align: center;
}

