.header{
    font-size: 90px;
    color: brown;

}

html { 
    background-color: lightskyblue; 
} 

#nav-font{
    color: rgb(235, 87, 19);
    font-size: larger;
}

#back-image{
 -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
width: 100%;
}


