.header{
    font-size: 70px;
    color: rgb(54, 49, 49);
    margin: auto;
    width: 80%;
    padding: 10px;
    text-align: center;
    color: rgb(54, 49, 49);
    text-shadow: 2px 2px red;
}

html{ 
    background-color: lightskyblue; 
} 

#nav-font{
    color: rgb(53, 44, 40);
    font-size: larger;
}

#back-image{
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat:no-repeat;
    width: 100%;
    height: 40%;
    opacity: 0.65;
    padding: 45px;
}

.text-uppercase-career{
    text-align: center;
}

#footer-border{
    margin-top: 10px;
}

body {
    background-color: lightblue;
}

.jumbotron{
    background-color: transparent;
}

.jumbotron h1{
    color: rgb(54, 49, 49);
    font-weight: bold;
    margin-bottom: 30px;
    color: rgb(54, 49, 49);
    text-shadow: 2px 2px red;
}

.jumbotron .lead{
    color: rgb(54, 49, 49);
    margin: 25px 0;
    text-shadow: 2px;
}

.jumbotron small{
    font-size: 80%;
    font-style: italic;
    color: #db2f10;
}

.btn{
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background: #db2f10;
}

.aboutus{
    color: rgb(53, 44, 40);
    margin: 25px 0;
}

.text-uppercase-career{
    color: rgb(54, 49, 49);
    text-shadow: 1px 1px red;
}
 
.navbar{
    text-shadow: 1px 1px red;
}

#nav-font.nav-item{
    text-shadow: 1px 1px red;
}